body{
 
    background-color: #84e49c;
}

button{

background-color: #978bcf;


}

.caixa{
    background-color: white;
    border: 4px solid #cecece;
    padding: 10px;
    margin-bottom: 10px;
width: 250px;
border-radius: 10px;
}